$white: #fff;
$white-1: #f9fafb;
$white-2: #eaecf0;
$white-bg: #f2f4f7;
$white-primary: #fcfaff;
$white-primary2: #f4ebff;
$white-primary3: #f9f5ff;
$white-primary4: #d6bbfb;
$black: #101828;
$black-0: #1d2939;
$black-1: #344054;
$black-2: #475467;
$gray: #98a2b3;
$gray-0: #d0d5dd;
$gray-1: #667085;
$gray-2: #475467;
$primary: #7f56d9;
$primary-0: #6941c6;
$primary-1: #53389e;

$red: #d92d20;
$red-1: #b42318;
$lightred: #fee4e2;
$lightred-1: #fef3f2;

$font-main: "Inter", sans-serif;
